[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket   = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
secure-file-priv= NULL

; 回放日志执行前记录的磁盘
sync_master_info = 1
sync_replay_log  = 1
sync_relay_log_info = 1
; 回放日志文件
relay_log=/var/run/mysqld/mysql-relay-bin

; 调试用
general-log = 1
general-log-file = /var/run/mysqld/general-log

; 如果从库后续会升级为主库，可以开启此配置，可以参考主库的配置
log-bin=/var/run/mysqld/mysql-bin
server-id=2

; 从库崩溃重启后，不自动启动复制，因为可能存在数据不一致，需要手动检查数据，手动开启复制
skip_slave_start=0


!includedir /etc/mysql/conf.d/