[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
socket   = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
secure-file-priv= NULL
; 主库的 id
server-id=2
; 重放日志
relay_log=/var/run/mysqld/mysql-relay-bin


; 提交事务前，把二进制日志写入磁盘
; sync_binlog = 1 
; 二进制日志文件地址
;log-bin=/var/run/mysqld/mysql-bin

; 开启 sql 语句日志，调试时用
; general-log = 1
; general-log-file = /var/run/mysqld/general-log


!includedir /etc/mysql/conf.d/