[mysqld]
bind-address=0.0.0.0
pid-file = /var/run/mysqld/mysqld.pid
socket   = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
secure-file-priv= NULL
; 主库的 id
server-id=1
log-bin=/var/run/mysqld/mysql-bin

; 开启 sql 语句日志，调试时用
; general-log = 1
; general-log-file = /var/run/mysqld/general-log


!includedir /etc/mysql/conf.d/
