
version: "3.8"
services:

  mysql-master:
    image: mysql:5.7
    container_name: mysql-master
    network_mode: bridge 
    ports:
      - "3306:3306"
    entrypoint: ['docker-entrypoint.sh', '--default-authentication-plugin=mysql_native_password']
    volumes: 
      - type: bind
        source: ./mysql
        target: /etc/mysql
      - type: bind
        source: ./data
        target: /var/lib/mysql
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: 123456
